@media screen and (min-width: 992px) {
	.header .header-navigation > ul > li:hover > a,
	.header .header-navigation > ul > li:hover > button {
		color: var(--secondary-color);
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0);
	}

	.header .header-navigation > ul > li:hover > a > i,
	.header .header-navigation > ul > li:hover > button > i {
		transform: rotate(180deg);
	}

	.header .header-navigation > ul > li > ul {
		position: absolute;
		top: calc(100% + 40px);
		left: 0;
		min-width: 220px;
		background-color: var(--bs-white);
		border-radius: 4px;
		transition: var(--transition-default);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		border: 1px solid rgba(0, 0, 0, 0.075);
	}

	.header .header-navigation > ul > li > ul:before {
		top: -29px;
		display: block;
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		background-color: transparent;
		height: 29px;
	}

	.header .header-navigation > ul > li:hover > ul {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		top: calc(100% + 29px);
	}

	.header .header-navigation > ul > li > ul > li > a:hover {
		color: var(--secondary-color);
	}

	.header.is-scroll .header-logo img {
		height: 45px;
	}

	.header.is-scroll .header-logo img {
		height: 45px;
	}

	.header.is-scroll .header-navigation > ul > li > ul {
		top: calc(100% + 30px);
	}

	.header.is-scroll .header-navigation > ul > li > ul:before {
		top: -21px;
		height: 21px;
	}

	.header.is-scroll .header-navigation > ul > li:hover > ul {
		top: calc(100% + 21px);
	}


	.header.is-scroll .header-toolbar .header-user > ul {
		top: calc(100% + 20px);
		margin-bottom: 0;
	}

	.header.is-scroll .header-toolbar .header-user > ul:before {
		top: -13px;
		height: 13px;
	}

	.header.is-scroll .header-toolbar .header-user:hover > ul {
		top: calc(100% + 13px);
	}
}

@media screen and (max-width: 991px) {
	.header .header-logo img {
		height: 50px;
	}

	.header .header-toolbar {
		gap: 15px;
	}

	.header .header-hamburger .hamburger-button {
		position: relative;
		width: 20px;
		height: 16px;
		transform: translateY(-1px);
	}

	.header .header-hamburger .hamburger-button > i {
		background-color: var(--bs-white);
		width: 100%;
		height: 2px;
		position: absolute;
		display: block;
		transition: var(--transition-default);
		left: 0;
	}

	.header .header-hamburger .hamburger-button > i:nth-child(1) {
		top: 0;
	}

	.header .header-hamburger .hamburger-button > i:nth-child(2) {
		top: 7px;
	}

	.header .header-hamburger .hamburger-button > i:nth-child(3) {
		bottom: 0;
		width: 15px;
		left: auto;
		right: 0;
	}

	.is-navigation .header .header-hamburger .hamburger-button > i:nth-child(1) {
		transform: rotate(45deg);
		top: 9px;
	}

	.is-navigation .header .header-hamburger .hamburger-button > i:nth-child(2) {
		left: 50%;
		width: 0;
	}

	.is-navigation .header .header-hamburger .hamburger-button > i:nth-child(3) {
		transform: rotate(-45deg);
		bottom: 5px;
		width: 100%;
	}

	.header-overlay {
		background: rgba(0, 0, 0, 0.65);
		position: fixed;
		top: 70px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 12;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		-webkit-transition: var(--transition-default);
		-o-transition: var(--transition-default);
		transition: var(--transition-default);
		height: calc(100vh - 70px);
	}

	.is-navigation .header-overlay {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.header .header-navigation {
		position: fixed;
		top: 70px;
		width: 100%;
		max-width: 375px;
		background-color: var(--bs-white);
		height: calc(100vh - 70px);
		overflow-y: auto;
		z-index: 13;
		-webkit-transition: var(--transition-default);
		-o-transition: var(--transition-default);
		transition: var(--transition-default);
		justify-content: flex-start;
		align-items: flex-start;
		left: -150%;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		margin-left: 0;
	}

	.is-navigation .header .header-navigation {
		left: 0;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.header .header-navigation:before {
		box-shadow: 0 12px 16px -4px rgba(16, 24, 40, .1), 0 4px 6px -2px rgba(16, 24, 40, .15);
		display: block;
		content: "";
		position: absolute;
		top: -8px;
		left: 0;
		width: 100%;
		height: 7px;
	}

	.header .header-navigation > ul {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		gap: 0;
		padding: 10px calc(1.5rem / 2);
	}

	.header .header-navigation > ul > li > a, .header .header-navigation > ul > li > button {
		color: #464242;
		width: 100%;
		padding: 12px 0;
		justify-content: space-between;
		text-shadow: none;
	}

	.header .header-navigation > ul > li > a > i, .header .header-navigation > ul > li > button > i {
		font-size: 1.45em;
	}

	.header .header-navigation > ul > li + li {
		border-top: 1px solid var(--bs-gray-400);
	}

	.header .header-navigation > ul > li > ul {
		padding-left: var(--bs-gutter-x);
	}

	.header .header-navigation > ul > li > ul,
	.header .header-navigation > ul > li > ul > li + li {
		border-top: 1px solid var(--bs-gray-400);
	}

	.header .header-navigation > ul > li > ul > li > a {
		padding: 12px 0;
		color: #464242;
	}

	.header .header-navigation > ul > li > a:active,
	.header .header-navigation > ul > li > button[aria-expanded=true],
	.header .header-navigation > ul > li > ul > li > a:active {
		color: var(--bs-black);
	}

	.header .header-navigation > ul > li > button[aria-expanded=true] > i {
		transform: rotate(180deg);
	}

	.is-overflow {
		overflow: hidden;
	}

	.section-gap {
		padding: 60px 0 30px;
	}

	.section-gap:before {
		height: 40px;
	}

	.section-heading {
		margin-bottom: 30px;
	}

	.section-heading .heading-title {
		font-size: 1.6em;
	}

	.section-heading .heading-desc,
	.section-heading .heading-tab .nav-tabs .nav-item .nav-link {
		font-size: 1.075em;
	}

	.section-heading .heading-tab .nav-tabs {
		gap: 20px;
	}

	.button-theme.button-theme_large {
		font-size: 1.075em;
		padding: 10px 20px;
	}

	.hero-form {
		position: static;
		transform: unset;
		padding-right: 0;
	}

	.hero-form .form-inner {
		padding: 30px 20px;
		width: 100%;
		border-radius: 0;
		background: var(--primary-color);
	}

	.hero-form .form-inner .section-heading .heading-title {
		font-size: 1.6em;
	}

	.section-box {
		padding: 30px 0;
	}

	.section-box .box-item {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 10px;
	}

	.section-box .box-item .box-icon {
		font-size: 2.6em;
	}

	.section-box .box-item .box-content .box-title {
		font-size: 1.15em;
	}

	.section-box .box-item .box-content .box-desc {
		font-size: 1em;
	}

	.section-counter {
		padding: 30px 0;
	}

	.section-counter .counter-item .counter-icon {
		font-size: 1.85em;
	}

	.section-counter .counter-item .counter-number {
		font-size: 2.5em;
	}

	.plan-item {
		padding: 30px;
	}

	.plan-item .plan-type {
		padding: 10px 20px;
		font-size: 1.075em;
		margin-bottom: 20px;
	}

	.plan-item .plan-price .plan-price_value {
		font-size: 2.25em;
	}

	.plan-item .plan-price .plan-price_text {
		font-size: 1.15em;
	}

	.utilities-item .utilities-title {
		font-size: 1.225em;
		padding: 10px 15px;
	}

	.slider-theme [class*=slider-button] {
		display: none;
	}

	.footer {
		padding: 30px 0;
	}

	.footer .footer-item .footer-title {
		font-size: 1.15em;
	}

	.footer .footer-item .footer-link .footer-link_item,
	.footer .footer-item .footer-text,
	.footer .footer-bottom .footer-copyright,
	.footer .footer-bottom .footer-link .footer-link_item {
		font-size: 1em;
	}

	.footer .footer-item .footer-form .footer-form_inner .form-control {
		font-size: 1.075em;
	}

	.footer .footer-bottom .footer-link {
		justify-content: center;
	}

	.footer .footer-copyright {
		text-align: center;
	}

	.section-gap_small {
		padding: 20px 0;
	}

	.section-page .section-heading .heading-title {
		font-size: 1.6em;
	}

	.contact-collapse .contact-collapse_item .contact-collapse_item__button {
		font-size: 1.15em;
	}

	.contact-collapse .contact-collapse_item .contact-collapse_item__content,
	.contact-collapse_desc {
		font-size: 1.075em;
	}

	.article-detail .article-title {
		font-size: 1.5em;
		text-align: center;
	}

	.section-sidebar .sidebar-item .article-item .card-content .card-title {
		font-size: 1.075em;
	}

	.section-golf .section-gap {
		padding: 30px 0;
	}

	.section-golf .section-gap .golf-item .golf-card .golf-title {
		font-size: 1.15em;
	}

	.prize-card .prize-content .prize-content_title {
		font-size: 1.3em;
	}

	.prize-card .prize-content .prize-content_desc {
		font-size: 1.075em;
	}

	.section-aboutus .introduction-content .introduction-content_title {
		font-size: 1.7em;
	}

	.section-aboutus .introduction-content {
		padding: 0 !important;
	}

	.section-aboutus .introduction-image {
		height: auto;
	}

	.section-aboutus .introduction-image img {
		position: static;
	}

	.section-aboutus:nth-child(odd) .row {
		flex-direction: column-reverse !important;
	}

	.section-aboutus .introduction-content .introduction-content_desc {
		font-size: 1.075em;
	}

	.dropdown-filter .dropdown-button {
		-ms-flex-negative: 0;
		flex-shrink: 0;
		display: block;
	}

	.dropdown-filter .dropdown-button .link-default {
		width: 90px;
		min-width: 1px;
		gap: 6px;
	}

	.sidebar-filter {
		position: fixed;
		top: 0;
		width: 90%;
		max-width: 320px;
		background-color: var(--bs-white);
		height: 100vh;
		overflow-y: auto;
		z-index: 22;
		-webkit-transition: var(--transition-default);
		-o-transition: var(--transition-default);
		transition: var(--transition-default);
		left: -150%;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	.sidebar-filter .sidebar-filter_header {
		min-height: 50px;
		padding: 0 0 0 15px;
		border-bottom: 1px solid rgba(129, 129, 129, .2);
		margin-bottom: 0 !important;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center !important;
		-ms-flex-align: center !important;
		align-items: center !important;
		-webkit-box-pack: justify !important;
		-ms-flex-pack: justify !important;
		justify-content: space-between !important;
	}

	.sidebar-filter .sidebar-filter_header .sidebar-filter_header__title {
		font-size: 1.25em;
		font-weight: 700;
		color: var(--bs-gray-700);
	}

	.sidebar-filter .sidebar-filter_header .sidebar-filter_header__button {
		width: 40px;
		height: 40px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		border: 0;
		padding: 0;
		border-radius: 0;
		background: transparent;
		outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.sidebar-filter .sidebar-filter_header.section-heading .heading-button .link-default {
		-webkit-transition: -webkit-transform .3s ease-in-out;
		transition: -webkit-transform .3s ease-in-out;
		-o-transition: transform .3s ease-in-out;
		transition: transform .3s ease-in-out;
		transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
		color: var(--bs-gray-900);
	}

	.sidebar-filter .sidebar-filter_header.section-heading .heading-button .link-default svg {
		stroke: var(--bs-gray-600);
		-webkit-transition: stroke .3s ease-in-out .1s;
		-o-transition: stroke .3s ease-in-out .1s;
		transition: stroke .3s ease-in-out .1s;
	}

	.sidebar-overlay {
		background: rgba(0, 0, 0, 0.7);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 21;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		-webkit-transition: var(--transition-default);
		-o-transition: var(--transition-default);
		transition: var(--transition-default);
	}

	.is-category .sidebar-overlay {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.is-category .sidebar-filter {
		left: 0;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.product-detail .product-title {
		font-size: 1.5em;
	}

	.product-detail .product-images .product-thumb {
		padding: 0;
	}

	.product-detail .product-price .price-current {
		font-size: 1.5em;
	}

	.product-detail .product-price .price-old {
		font-size: 1.15em;
	}

	.product-detail .product-meta,
	.product-detail .product-desc,
	.product-detail .product-property,
	.product-detail .product-support {
		font-size: 1.075em;
	}

	.product-detail .product-tabs .nav-tabs {
		white-space: nowrap;
		max-width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		flex-wrap: nowrap;
	}

	.product-detail .product-tabs .nav-tabs .nav-item .nav-link {
		font-size: 1.15em;
		padding: 10px 20px;
	}
}

@media screen and (max-width: 768px) {
	.utilities-grid {
		display: grid;
		gap: 15px;
		grid-template-areas:
        "a a a a"
        "b b c c"
		"d d d e";
	}
}

@media screen and (max-width: 575px) {
	.utilities-grid {
		display: flex;
		flex-direction: column;
	}

	.dropdown-filter .dropdown-text {
		display: none;
	}

	.dropdown-filter .dropdown,
	.dropdown-filter .dropdown .link-default {
		width: 100%;
	}
}