.header {
	top: 0;
	left: 0;
	width: 100%;
	position: sticky;
	z-index: 10;
	background: var(--primary-color);
	transition: var(--transition-default);
	padding: 0 15px;
}

.header .header-inner {
	display: flex;
	align-items: center;
	padding: 10px 0;
	transition: var(--transition-default);
}

.header .header-logo img {
	height: 60px;
	transition: var(--transition-default);
}

.header .header-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	margin-left: 45px;
}

.header .header-navigation ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.header .header-navigation > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 25px;
}

.header .header-navigation > ul > li {
	position: relative;
	width: 100%;
}

.header .header-navigation > ul > li > a,
.header .header-navigation > ul > li > button {
	display: flex;
	align-items: center;
	font-weight: 700;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
	color: var(--bs-white);
	font-size: 1em;
	white-space: nowrap;
	border: 0;
	box-shadow: none;
	background-color: transparent;
	outline: none;
	gap: 3px;
	letter-spacing: 0.025em;
}

.header .header-navigation > ul > li > a > i,
.header .header-navigation > ul > li > button > i {
	transition: 0.3s transform ease-in-out;
	font-size: .85em;
}

.header .header-navigation > ul > li > ul > li {
	width: 100%;
}

.header .header-navigation > ul > li > ul > li > a {
	padding: 8px 15px;
	color: var(--bs-black);
	font-size: 1em;
	font-weight: 500;
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.header .header-toolbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-left: auto;
	gap: 25px;
}

.header .header-toolbar .header-cart .header-cart_button {
	border: 0;
	background: var(--secondary-color);
	color: var(--bs-white);
	box-shadow: none;
	border-radius: 50%;
	padding: 0;
	height: 37px;
	width: 37px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.3em;
}

.header .header-toolbar .header-cart .header-cart_button span {
	position: absolute;
	top: -5px;
	right: -5px;
	font-size: 10px;
	background: var(--bs-danger);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.header .header-toolbar .header-language {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header .header-toolbar .header-language .header-language_link {
	font-weight: 700;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
	color: var(--bs-white);
	font-size: 1em;
	white-space: nowrap;
	position: relative;
}

.header .header-toolbar .header-language .header-language_link + .header-language_link:before {
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--bs-white);
	content: "";
	height: 12px;
	width: 1px;
	background: var(--bs-white);
	position: absolute;
}

.header .header-toolbar .header-language .header-language_link.active {
	color: var(--secondary-color);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0);
}

.header .header-toolbar .header-user {
	position: relative;
}

.header .header-toolbar .header-user > ul {
	position: absolute;
	top: calc(100% + 30px);
	right: 0;
	min-width: 160px;
	background-color: var(--bs-white);
	border-radius: 4px;
	transition: var(--transition-default);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	border: 1px solid rgba(0, 0, 0, 0.075);
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}

.header .header-toolbar .header-user > ul:before {
	top: -20px;
	display: block;
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	background-color: transparent;
	height: 20px;
}

.header .header-toolbar .header-user:hover > ul {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	top: calc(100% + 20px);
}

.header .header-toolbar .header-user > ul > li {
	width: 100%;
}

.header .header-toolbar .header-user > ul > li > a {
	padding: 8px 15px;
	color: var(--bs-black);
	font-size: 1em;
	font-weight: 500;
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.header .header-toolbar .header-user > ul > li > a:hover {
	color: var(--primary-color);
}

.header.is-scroll {
	position: fixed;
}

.section-gap {
	padding: 85px 0 50px;
	position: relative;
}

.section-gap_small {
	padding: 30px 0;
	position: relative;
}

.section-gap:before {
	top: 0;
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 60px;
	width: 1px;
	box-shadow: inset 1px 1px rgba(0, 0, 0, 0.5) !important;
}

.section-heading {
	text-align: center;
	max-width: 991px;
	margin: 0 auto 45px;
}

.section-heading .heading-title {
	font-size: 2.5em;
	color: var(--bs-black);
	font-weight: 700;
	line-height: 1.2;
}

.section-heading .heading-desc {
	font-size: 1.15em;
	color: #404346;
	margin-top: 8px;
}

.section-heading .heading-desc p:last-child,
.section-heading .heading-desc ol:last-child,
.section-heading .heading-desc ul:last-child {
	margin-bottom: 0;
}

.section-heading .heading-button {
	margin-top: 30px;
}

.section-heading .heading-tab {
	margin-top: 30px;
}

.section-heading .heading-tab .nav-tabs {
	justify-content: center;
	border-bottom: 0;
	gap: 30px;
}

.section-heading .heading-tab .nav-tabs .nav-item .nav-link {
	--color: var(--secondary-color);
	border: 0;
	padding: 0;
	position: relative;
	font-size: 1.15em;
	color: var(--color);
	font-weight: 700;
	transition: var(--transition-default);
}

.section-heading .heading-tab .nav-tabs .nav-item .nav-link:before,
.section-heading .heading-tab .nav-tabs .nav-item .nav-link:after {
	height: 1px;
	box-shadow: inset 1px 1px var(--color);
	position: absolute;
	content: "";
	left: 50%;
	transform: translateX(-50%);
	transition: var(--transition-default);
}

.section-heading .heading-tab .nav-tabs .nav-item .nav-link:before {
	width: 90%;
	bottom: -10px;
}

.section-heading .heading-tab .nav-tabs .nav-item .nav-link:after {
	width: 50%;
	bottom: -15px;
}

.section-heading .heading-tab .nav-tabs .nav-item .nav-link.active {
	--color: var(--primary-color)
}

.section-box {
	background-color: #020202;
	padding: 80px 0;
	color: var(--bs-white);
}

.section-box:after {
	pointer-events: none;
	background: url('../images/bg-box.png') bottom right/cover no-repeat;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0.1;
}

.section-box .box-item {
	display: flex;
	gap: 25px;
}

.section-box .box-item .box-icon {
	color: var(--secondary-color);
	font-size: 3.5em;
	flex-shrink: 0;
}

.section-box .box-item .box-content .box-title {
	font-size: 1.3em;
	font-weight: 700;
	line-height: 1.3;
}

.section-box .box-item .box-content .box-desc {
	margin-top: 7px;
	color: #C2C2C2;
	font-size: 1.075em;
}

.service-box .service-bg .service-title {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 1.15em;
	font-weight: 700;
	color: var(--bs-white);
	text-transform: uppercase;
	z-index: 2;
	bottom: 0;
	padding: 15px 15px 45px 15px;
	transition: .5s all ease;
}

.service-box .service-bg .service-title:before {
	bottom: 0;
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 30px;
	width: 1px;
	box-shadow: inset 2px 2px rgba(255, 255, 255, 1) !important;
}

.service-box .service-overlay {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: .8s all ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(var(--primary-rgb), 0.85);
	text-align: center;
	padding: 60px 30px;
	display: flex;
	flex-direction: column;
}

.service-box .service-overlay .service-title {
	font-size: 1.225em;
	font-weight: 700;
	color: var(--bs-white);
	padding-bottom: 75px;
	position: relative;
	text-transform: uppercase;
}

.service-box .service-overlay .service-title:after {
	bottom: 15px;
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 45px;
	width: 1px;
	box-shadow: inset 2px 2px rgba(255, 255, 255, 1) !important;
}

.service-box .service-overlay .service-desc {
	font-size: 1.075em;
	color: var(--bs-white);
	margin-bottom: 30px
}

.service-box .service-overlay .service-desc .limit {
	--line: 7;
}

.service-box .service-overlay .service-more {
	font-size: 1.225em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	margin: auto auto 0;
	color: #ececec;
	padding-bottom: 1px;
	border-bottom: 2px solid #ececec;
}

.service-box:hover .service-bg .service-title {
	transform: translateY(100%);
}

.service-box:hover .service-overlay {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.section-counter {
	background: #0ca9400d;
	padding: 50px 0;
}

.section-counter .counter-item {
	text-align: center;
}

.section-counter .counter-item .counter-icon {
	font-size: 2.25em;
	color: var(--primary-color);
}

.section-counter .counter-item .counter-number {
	font-size: 3.75em;
	color: var(--bs-black);
	line-height: 1;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: 500;
}

.section-counter .counter-item .counter-title {
	font-size: 1.15em;
	font-weight: 700;
	color: var(--bs-black);
}

.article-card {
	height: 100%;
}

.article-card .card-body {
	display: flex;
	flex-direction: column;
}

.article-card .card-body .card-title {
	margin-bottom: 10px;
}

.article-card .card-body .card-title > a {
	font-size: 1.3em;
	color: var(--bs-black);
	font-weight: 700;
}

.article-card .card-body .card-desc {
	font-size: 1.15em;
	color: #404346;
	--line: 3;
	margin-bottom: 20px;
}

.article-card .card-body .card-link {
	margin-top: auto;
}

.article-card .card-body .card-link > a {
	font-size: 1.15em;
	color: var(--primary-color);
}

.article-card .card-header {
	overflow: hidden;
}

.article-card:hover .card-header img {
	-webkit-transform: scale(1.05) rotate(2deg);
	transform: scale(1.05) rotate(2deg);
	opacity: .8;
}

.article-card .card-body .card-title > a:hover,
.article-card .card-body .card-link > a:hover {
	color: var(--primary-hover);
}

.footer {
	padding: 80px 0 50px;
	background: var(--primary-hover);
}

.footer .footer-logo {
	margin-bottom: 15px;
}

.footer .footer-item .footer-text {
	color: var(--bs-white);
	font-size: 1.075em;
	font-weight: 500;
}

.footer .footer-item .footer-social {
	margin-top: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 8px;
}

.footer .footer-item .footer-social .footer-social_item > img {
	width: 32px;
	height: 32px;
	overflow: hidden;
}

.footer .footer-item .footer-title {
	font-size: 1.3em;
	font-weight: 700;
	color: var(--bs-white);
	margin-bottom: 15px;
}

.footer .footer-item .footer-link {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer .footer-item .footer-link .footer-link_item {
	color: var(--bs-white);
	font-size: 1.075em;
	font-weight: 500;
}

.footer .footer-item .footer-link .footer-link_item:hover {
	padding-left: 10px;
	color: var(--secondary-color);
}

.footer .footer-item .footer-form {
	margin-top: 15px;
}

.footer .footer-item .footer-form .footer-form_inner {
	position: relative;
}

.footer .footer-item .footer-form .footer-form_inner .form-control {
	background: transparent;
	height: 48px;
	padding: 15px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 1.15em;
	color: var(--bs-white);
	border-radius: 6px;
	padding-right: 63px;
}

.footer .footer-item .footer-form .footer-form_inner .form-control::placeholder {
	color: var(--bs-white);
	opacity: .6;
}

.footer .footer-item .footer-form .footer-form_inner .form-control:focus {
	border: 1px solid rgba(255, 255, 255, 0.6) !important;
	box-shadow: none !important;
}

.footer .footer-item .footer-form .footer-form_inner button {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background: var(--bs-white);
	width: 48px;
	height: 48px;
	font-size: 1.3em;
	color: var(--primary-color);
	border: 0;
	outline: none;
	border-radius: 0 6px 6px 0;
}

.footer .footer-bottom {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid rgba(var(--primary-rgb), 0.5);
}

.footer .footer-bottom .footer-copyright {
	color: var(--bs-white);
	font-size: 1.075em;
	font-weight: 500;
}

.footer .footer-bottom .footer-link {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 30px;
}

.footer .footer-bottom .footer-link .footer-link_item {
	color: var(--bs-white);
	font-size: 1.075em;
	font-weight: 500;
}

.footer .footer-bottom .footer-link .footer-link_item:hover {
	text-decoration: underline;
}

.section-plan {
	background-color: var(--primary-color);
}

.section-plan .section-plan_inner {
	margin-bottom: -375px;
	margin-top: 60px;
}

.section-plan + [class*=section] {
	margin-top: 375px;
}

.section-plan:before {
	box-shadow: inset 1px 1px var(--bs-white) !important;
}

.section-plan .section-heading .heading-title {
	color: var(--bs-white);
}

.section-plan .section-heading .heading-desc {
	color: #fafafa;
}

.plan-item {
	background-color: var(--bs-white);
	box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.24);
	padding: 40px;
	border-radius: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.plan-item .plan-type {
	background-color: var(--secondary-color);
	color: var(--bs-white);
	border-radius: 10px;
	padding: 15px 30px 15px 30px;
	box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.08);
	font-size: 1.15em;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 30px;
}

.plan-item.plan-item_active .plan-type {
	background-color: var(--primary-color);
	color: var(--bs-white);
	border-radius: 10px;
	padding: 15px 30px 15px 30px;
	box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.08);
	font-size: 1.15em;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 30px;
}

.plan-item .plan-price {
	margin-bottom: 30px;
}

.plan-item .plan-price .plan-price_value {
	font-size: 2.85em;
	color: var(--bs-black);
	font-weight: 700;
}

.plan-item .plan-price .plan-price_text {
	font-size: 1.3em;
	color: #283618;
	font-weight: 500;
}

.plan-item .plan-desc {
	text-align: left;
	font-size: 1.15em;
	margin-bottom: 45px;
}

.plan-item .plan-desc ul {
	display: flex;
	flex-direction: column;
	gap: 5px;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	color: rgb(120, 120, 120);
	font-weight: 500;
}

.plan-item .plan-desc ul i {
	margin-right: 5px;
	width: 20px;
}

.plan-item .plan-button {
	margin-top: auto;
}

.section-introduction {
	background: #0ca9400d;
	padding: 0;
}

.section-introduction:before {
	display: none;
}

.section-introduction .section-heading {
	text-align: left;
	max-width: 100%;
	margin: 0;
}

.section-introduction .section-heading .heading-desc {
	margin-top: 30px;
}

.section-introduction .section-heading .heading-desc ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.section-introduction .section-heading .heading-desc ul li {
	width: calc(50% - 8px)
}

.section-introduction .section-heading .heading-desc ul li:before {
	font-family: "Font Awesome 5 Pro";
	content: "\f14a";
	width: 20px;
	margin-right: 5px;
	color: var(--primary-color);
	font-size: 1.3em;
	font-weight: 900;
	position: relative;
	top: 3px;
}

.utilities-grid {
	display: grid;
	gap: 15px;
	grid-template-areas:
        "a a b b c c"
        'a a d d d e';
}

.utilities-grid .utilities-item:first-child {
	grid-area: a;
}

.utilities-grid .utilities-item:nth-child(2) {
	grid-area: b;
}

.utilities-grid .utilities-item:nth-child(3) {
	grid-area: c;
}

.utilities-grid .utilities-item:nth-child(4) {
	grid-area: d;
}

.utilities-grid .utilities-item:nth-child(5) {
	grid-area: e;
}

.utilities-item {
	position: relative;
}

.utilities-item .utilities-title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px;
	text-align: center;
	color: var(--bs-black);
	font-weight: 700;
	font-size: 1.45em;
	background-color: rgba(255, 255, 255, 0.8);
	transition: var(--transition-default);
}

.utilities-item:hover .utilities-title {
	color: var(--bs-white);
	background-color: var(--primary-color);
}

.product-card {
	height: 100%;
}

.product-card .card-header {
	overflow: hidden;
}

.product-card .card-header .product-image_overlay {
	background: #ffffff80;
	height: 100%;
	left: -100%;
	top: 0;
	width: 100%;
	position: absolute;
	z-index: 1;
	transition: var(--transition-default);
}

.product-card:hover .card-header .product-image_overlay {
	left: 0;
}

.product-card .card-header .product-image_lower {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
}

.product-card:hover .card-header .product-image_upper {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
}

.product-card:hover .card-header .product-image_lower {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
}

.product-card .card-header .product-buttons {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	top: calc(50% + 30px);
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	transition: var(--transition-default);
}

.product-card:hover .card-header .product-buttons {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	top: calc(50%);
}

.product-card .card-header .product-buttons .button-theme {
	width: 42px;
	height: 42px;
	font-size: 1.3em;
}

.product-card .card-header .product-soldout {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	transition: var(--transition-default);
	width: 85px;
	height: 85px;
	background-color: #db0022;
	border: 3px solid #fd3c24;
	font-size: 1em;
	color: var(--bs-white);
	border-radius: 50%;
}

.product-card:hover .card-header .product-soldout {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.product-card .card-body {
	padding: 20px 15px;
	text-align: center;
	position: relative;
	z-index: 2;
}

.product-card .card-body .card-title > a {
	font-size: 1.3em;
	font-weight: 700;
	color: var(--bs-black);
}

.product-card:hover .card-body .card-title > a {
	color: var(--primary-color);
}

.product-card .card-body .card-brand {
	font-size: 1.15em;
}

.product-card .card-body .card-brand > span {
	color: #9c9d9f;
}

.product-card .card-body .card-price {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px solid var(--bs-gray-300);
}

.product-card .card-body .card-price .card-price_current {
	color: var(--bs-danger);
	font-weight: 500;
	font-size: 1.45em;
}

.product-card .card-body .card-price .card-price_old {
	font-size: 1.225em;
	color: #9c9d9f;
	text-decoration: line-through;
	align-self: flex-end;
	position: relative;
	top: -1px;
}


.slider-theme [class*=slider-button] {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	font-size: 2em;
	z-index: 2;
	background-color: var(--primary-color);
	border-radius: 4px;
	color: var(--bs-white);
	transition: var(--transition-default);
}

.slider-theme [class*=slider-button]:hover {
	background-color: var(--primary-hover);
}

.slider-theme [class*=slider-button].swiper-button-disabled {
	opacity: .5;
}

.slider-theme .slider-button_prev {
	left: -20px;
}

.slider-theme .slider-button_next {
	right: -20px;
}


.floating-cart {
	position: relative;
	z-index: 22;
}

.floating-cart .cart-card {
	-webkit-transition: visibility .5s cubic-bezier(.645, .045, .355, 1), opacity .5s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
	transition: visibility .5s cubic-bezier(.645, .045, .355, 1), opacity .5s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
	-o-transition: transform .5s cubic-bezier(.645, .045, .355, 1), visibility .5s cubic-bezier(.645, .045, .355, 1), opacity .5s cubic-bezier(.645, .045, .355, 1);
	transition: transform .5s cubic-bezier(.645, .045, .355, 1), visibility .5s cubic-bezier(.645, .045, .355, 1), opacity .5s cubic-bezier(.645, .045, .355, 1);
	transition: transform .5s cubic-bezier(.645, .045, .355, 1), visibility .5s cubic-bezier(.645, .045, .355, 1), opacity .5s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
	background: var(--bs-white);
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	width: 375px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	-webkit-transform: translate3d(104%, 0, 0);
	transform: translate3d(104%, 0, 0);
	z-index: 21;
}

.floating-cart .cart-card .card-header {
	min-height: 50px;
	padding: 0 0 0 15px;
	border-bottom: 1px solid rgba(129, 129, 129, .2);
}

.floating-cart .cart-card .card-header .card-title {
	font-size: 1.225em;
	color: var(--bs-gray-700);
}

.floating-cart .cart-card .card-header .link-default {
	width: 40px;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: -webkit-transform .3s ease-in-out;
	-o-transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
	border: 0;
	padding: 0;
	border-radius: 0;
	background: transparent;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: var(--bs-gray-900);
}

.floating-cart .cart-card .card-header .link-default svg {
	stroke: var(--bs-gray-600);
	-webkit-transition: stroke .3s ease-in-out .1s;
	-o-transition: stroke .3s ease-in-out .1s;
	transition: stroke .3s ease-in-out .1s;
}

.floating-cart .cart-card .card-header .link-default:hover svg {
	stroke: var(--bs-gray-900);
}

.floating-cart .cart-card .card-scroll {
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.floating-cart .cart-card .card-scroll::-webkit-scrollbar {
	width: 5px;
}

.floating-cart .cart-card .card-scroll::-webkit-scrollbar-track {
	background: #ffffff;
}

.floating-cart .cart-card .card-scroll::-webkit-scrollbar-thumb {
	background: #d7d7d7;
}

.floating-cart .cart-card .card-scroll::-webkit-scrollbar-thumb:hover {
	background: #b9b9b9;
}

.floating-cart .cart-card .card-item {
	padding: 15px;
}

.floating-cart .cart-card .card-item + .card-item {
	border-top: 1px solid var(--bs-gray-200);
}

.floating-cart .cart-card .card-item .card-image {
	width: 75px;
}

.floating-cart .cart-card .card-item .card-image:hover img {
	opacity: .8;
}

.floating-cart .cart-card .card-item .card-title {
	font-size: 1.15em;
	font-weight: 700;
	color: var(--bs-black);
	margin-bottom: 5px;
	-webkit-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
}

.floating-cart .cart-card .card-item .card-title:hover {
	color: var(--primary-color);
}

.floating-cart .cart-card .card-item .card-quantity .card-text {
	color: var(--bs-gray-600);
	margin-bottom: 5px;
	font-size: 1em;
}

.floating-cart .cart-card .card-item .card-quantity .card-group .card-quantity_btn {
	height: 30px;
	width: 30px;
	border: 1px solid var(--bs-gray-300);
	font-size: 1em;
}

.floating-cart .cart-card .card-item .card-quantity .card-group .card-quantity_btn:first-child {
	border-radius: 4px 0 0 4px;
}

.floating-cart .cart-card .card-item .card-quantity .card-group .card-quantity_btn:last-child {
	border-radius: 0 4px 4px 0;
}

.floating-cart .cart-card .card-item .card-quantity .card-group .card-quantity_btn:hover {
	background-color: var(--primary-color);
	color: var(--bs-white);
}

.floating-cart .cart-card .card-item .card-quantity .card-group .card-quantity_btn:disabled {
	background-color: var(--bs-gray-200);
	cursor: not-allowed !important;
}

.floating-cart .cart-card .card-item .card-quantity .card-group .card-quantity_input {
	padding: 0 8px;
	height: 30px;
	width: 52px;
	text-align: center;
	font-size: 1em;
	border: 1px solid var(--bs-gray-300);
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.floating-cart .cart-card .card-item .card-price {
	font-size: 1em;
	color: var(--bs-danger);
	font-weight: 700;
	margin-bottom: 5px;
}

.floating-cart .cart-card .card-item .card-clear .link-default {
	color: var(--bs-gray-600);
	font-size: 1em;
}

.floating-cart .cart-card .card-item .card-clear .link-default:hover {
	color: var(--bs-gray-900);
}

.floating-cart .cart-card .card-empty {
	padding: 30px;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	-webkit-transform: translateY(45px);
	-ms-transform: translateY(45px);
	transform: translateY(45px);
}

.floating-cart .cart-card .card-empty .card-icon {
	width: 150px;
	height: 150px;
	margin: 0 auto 15px;
}

.floating-cart .cart-card .card-empty .card-title {
	font-size: 1.15em;
	color: var(--bs-gray-900);
}

.floating-cart .cart-card .card-information {
	padding: 15px;
	-ms-flex: 0 0 auto;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	border-top: 1px solid rgba(221, 221, 221, .7);
	-webkit-box-shadow: 0 0 10px 0 rgba(221, 221, 221, .7);
	box-shadow: 0 0 10px 0 rgba(221, 221, 221, .7);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	-webkit-transform: translateY(45px);
	-ms-transform: translateY(45px);
	transform: translateY(45px);
	-webkit-transition: opacity .2s cubic-bezier(.25, .46, .45, .94), -webkit-transform .2s cubic-bezier(.25, .46, .45, .94);
	transition: opacity .2s cubic-bezier(.25, .46, .45, .94), transform .2s cubic-bezier(.25, .46, .45, .94), -webkit-transform .2s cubic-bezier(.25, .46, .45, .94);
}

.floating-cart .cart-card .card-information .card-total {
	color: var(--bs-gray-700);
	font-size: 1.15em;
	font-weight: 700;
	margin-bottom: 15px;
}

.floating-cart .cart-card .card-information .card-total .card-value {
	color: var(--bs-danger);
}

.floating-cart .floating-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 5;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	background: rgba(0, 0, 0, .7);
	-webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
	transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.is-cart .floating-cart .cart-card {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.is-cart .floating-cart .floating-overlay {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.is-cart .floating-cart:not(.is-product) .card-empty {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: opacity .2s cubic-bezier(.25, .46, .45, .94) .45s, -webkit-transform .2s cubic-bezier(.25, .46, .45, .94) .45s;
	transition: opacity .2s cubic-bezier(.25, .46, .45, .94) .2s, transform .2s cubic-bezier(.25, .46, .45, .94) .2s, -webkit-transform .2s cubic-bezier(.25, .46, .45, .94) .2s;
}

.is-cart .floating-cart.is-product .card-information {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: opacity .2s cubic-bezier(.25, .46, .45, .94) .45s, -webkit-transform .2s cubic-bezier(.25, .46, .45, .94) .45s;
	transition: opacity .2s cubic-bezier(.25, .46, .45, .94) .2s, transform .2s cubic-bezier(.25, .46, .45, .94) .2s, -webkit-transform .2s cubic-bezier(.25, .46, .45, .94) .2s;
}

.is-cart {
	height: 100%;
	overflow: hidden;
}

.hero-form {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: 2;
	padding-right: 75px;
}

.hero-form .form-inner {
	padding: 25px 45px 45px;
	background: rgba(var(--primary-rgb), 0.7);
	border-radius: 24px;
	width: 650px;
}

.hero-form .form-inner .section-heading .heading-title {
	color: var(--bs-white);
	font-size: 2em;
	text-transform: uppercase;
}

.hero-form .form-inner .form-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.hero-form .form-inner .form-item .form-item_label {
	color: var(--bs-white);
	font-size: 1.075em;
	user-select: none;
	flex-shrink: 0;
}

.hero-form .form-inner .form-item .form-item_wrapper {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	position: relative;
}

.hero-form .form-inner .form-item .form-item_input {
	position: relative;
}

.hero-form .form-inner .form-item .form-item_input .form-control,
.hero-form .form-inner .form-item .form-item_input .form-select {
	border-radius: 0;
	font-size: 1.075em;
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--bs-white);
	border-color: rgba(255, 255, 255, .75) !important;
	transition: var(--transition-default);
	height: 40px;
}

.hero-form .form-inner .form-item .form-item_input .form-item_input__icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
	background: transparent;
	color: var(--bs-white);
	pointer-events: none;
	font-size: 1.3em;
}

.hero-form .form-inner .form-item .form-item_input > textarea {
	height: auto;
	resize: none;
}

.hero-form .form-inner .form-item .form-item_input > .form-control::placeholder {
	color: var(--bs-white);
	opacity: .8;
}

.hero-form .form-inner .form-item .form-item_input > .form-select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e")
}

.hero-form .form-inner .form-item .form-item_input > *:focus {
	outline: none !important;
	box-shadow: none !important;
	background-color: rgba(0, 0, 0, 0.4);
}

.section-breadcrumb .breadcrumb .breadcrumb-item {
	color: var(--bs-gray-600);
	display: inline-flex;
	padding: 12px 0;
}

.section-breadcrumb .breadcrumb .breadcrumb-item > a {
	color: var(--bs-black);
}

.section-breadcrumb .breadcrumb .breadcrumb-item > a i {
	line-height: unset;
}

.section-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
	float: none;
	margin-left: 8px;
	padding-right: 8px;
	font-family: "Font Awesome 5 Pro";
	content: "\f105";
	line-height: 1.6;
}

.section-breadcrumb .breadcrumb .breadcrumb-item > a:hover {
	color: var(--primary-color);
}

.section-pagination {
	margin-top: 30px;
}

.section-pagination .pagination {
	margin-bottom: 0;
	justify-content: center;
}

.section-pagination .pagination .page-item {
	margin: 0 4px;
}

.section-pagination .pagination .page-item .page-link {
	border: 1px solid var(--bs-gray-300);
	background-color: #f1f1f1;
	color: var(--bs-gray-700);
	margin-left: 0;
	padding: 6px 12px 6px;
	font-size: 1em;
	border-radius: 6px;
}

.section-pagination .pagination .page-item .page-link:focus {
	box-shadow: none;
}

.section-pagination .pagination .page-item.active .page-link,
.section-pagination .pagination .page-item:hover .page-link {
	border-color: var(--primary-color);
	color: var(--bs-white);
	background-color: var(--primary-color);
}

.section-page .section-heading {
	text-align: left;
	margin-bottom: 20px;
	max-width: 100%;
}

.section-page .section-heading .heading-title {
	font-size: 1.9em;
}

.contact-form .contact-form_item .form-control {
	border: 1px solid var(--bs-gray-300);
	border-radius: 4px;
	height: 48px;
	font-size: 1.075em;
	color: var(--bs-black);
}

.contact-form .contact-form_item textarea.form-control {
	height: auto;
}

.contact-form .contact-form_text {
	font-style: italic;
	font-size: 1.075em;
	color: var(--bs-gray-700);
}

.contact-collapse .contact-collapse_item .contact-collapse_item__button {
	background: transparent;
	outline: none;
	box-shadow: none;
	padding: 15px 0;
	border: 0;
	font-size: 1.3em;
	font-weight: 700;
	color: var(--bs-black);
	text-align: left;
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
}

.contact-collapse .contact-collapse_item .contact-collapse_item__button > i {
	font-size: 1.15em;
	color: var(--bs-gray-500);
	transition: var(--transition-default);
}

.contact-collapse .contact-collapse_item .contact-collapse_item__button[aria-expanded=true] {
	color: var(--primary-color);
}

.contact-collapse .contact-collapse_item .contact-collapse_item__button[aria-expanded=true] > i {
	transform: rotate(180deg);
}

.contact-collapse .contact-collapse_item .contact-collapse_item__content {
	padding: 10px 0;
	color: var(--bs-black);
	font-size: 1.15em;
}

.contact-collapse .contact-collapse_item + .contact-collapse_item {
	border-top: 1px solid var(--bs-gray-300);
}

.contact-collapse_desc {
	color: var(--bs-black);
	font-size: 1.15em;
	margin-top: 15px;
}

.contact-collapse_desc > a {
	color: var(--primary-color);
	font-weight: 700;
}

.section-map iframe {
	width: 100%;
	height: 500px;
	vertical-align: middle;
}

.article-detail .article-title {
	font-size: 2em;
	color: var(--bs-black);
	font-weight: 700;
	margin-bottom: 15px;
}

.article-detail .article-desc {
	margin-bottom: 15px;
}

.article-detail .detail-facebook {
	margin-top: 16px;
	border: 1px solid var(--bs-gray-300);
}

.article-detail .detail-facebook .detail-facebook_title {
	background-color: var(--bg-theme);
	padding: 9px 15px;
	color: var(--primary-color);
	font-weight: 700;
	font-size: 1.3em;
	border-bottom: 1px solid var(--bs-gray-300);
}

.detail-content {
	font-size: 1.075em;
	line-height: 1.6;
}

.detail-content p,
.detail-content ul,
.detail-content ol,
.detail-content blockquote {
	margin-bottom: 16px;
}

.detail-content ul,
.detail-content ol {
	padding-left: 16px;
	line-height: 1.6;
}

.detail-content h1,
.detail-content h2,
.detail-content h3,
.detail-content h4,
.detail-content h5,
.detail-content h6 {
	margin-bottom: 10px;
	font-weight: 700;
}

.detail-content h1 b,
.detail-content h1 strong,
.detail-content h2 b,
.detail-content h2 strong,
.detail-content h3 b,
.detail-content h3 strong,
.detail-content h4 b,
.detail-content h4 strong,
.detail-content h5 b,
.detail-content h5 strong,
.detail-content h6 b,
.detail-content h6 strong,
.detail-content strong,
.detail-content b {
	font-weight: 700;
}

.detail-content h2 {
	font-size: 1.375em;
}

.detail-content h3 {
	font-size: 1.15em;
}

.detail-content h4,
.detail-content h5,
.detail-content h6 {
	font-size: 1em;
}

.detail-content p:last-child,
.detail-content ul:last-child,
.detail-content ol:last-child {
	margin-bottom: 0;
}

.detail-content img {
	max-width: 100%;
	height: auto;
}

.detail-content .table {
	--bs-table-border-color: var(--bs-gray-500)
}

.detail-content .table th,
.detail-content .table td {
	padding: 10px;
	min-width: 150px;
}

.detail-content .table td ul {
	padding-left: 24px;
}

.detail-content blockquote {
	padding: 15px 15px 15px 45px;
	border-left: 5px solid var(--primary-color);
	background: rgba(var(--primary-rgb), .05);
	position: relative;
}

.detail-content blockquote:before {
	position: absolute;
	content: "\f10d";
	font-family: "Font Awesome 5 Pro";
	font-size: 1.5em;
	color: var(--primary-color);
	top: 10px;
	left: 10px;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
	font-weight: 700;
	line-height: 1;
}

.section-sidebar .sidebar-item_heading {
	padding-bottom: 10px;
	margin-bottom: 20px;
	font-size: 1.6em;
	font-weight: 700;
	color: var(--bs-black);
	position: relative;
}

.section-sidebar .sidebar-item_heading:before {
	width: 100px;
	bottom: 0;
	left: 0;
	height: 1px;
	position: absolute;
	content: "";
	background: var(--secondary-color);
}

.section-sidebar .sidebar-item .article-item {
	padding: 15px 0;
}

.section-sidebar .sidebar-item .article-item + .article-item {
	border-top: 1px solid var(--bs-gray-300);
}

.section-sidebar .sidebar-item .article-item .card-image {
	width: 120px;
}

.section-sidebar .sidebar-item .article-item .card-content .card-title {
	line-height: 1.3;
	font-size: 1.15em;
	font-weight: 700;
	color: var(--bs-black);
}

.section-sidebar .sidebar-item .article-item .card-content .card-time {
	margin-top: 5px;
	font-size: 1em;
	color: #41464b;
}

.section-sidebar .sidebar-item .article-item:hover .card-title {
	color: var(--primary-color);
}

.table-price .table {
	font-size: 1em;
}

.table-price .table thead tr th {
	background-color: var(--primary-color);
	color: var(--bs-white);
	font-size: 1.075em;
	width: calc(70% / 4);
}

.table-price .table thead tr th:first-child {
	width: 30%;
}

.table-price .table th,
.table-price .table td {
	padding: 12px 12px;
	white-space: nowrap;
}

.table-price .table td {
	font-weight: 500;
	font-size: 1.075em;
}

.table-text {
	font-weight: 500;
	font-size: 1.075em;
}

.section-golf {
	background-attachment: fixed;
}

.section-golf .section-gap:before {
	display: none;
}

.section-golf .golf-inner {
	background-color: var(--bs-white);
	padding: 25px;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.section-aboutus.section-gap:before {
	display: none;
}

.section-aboutus .introduction-image {
	position: relative;
	height: 100%;
}

.section-aboutus .introduction-image img {
	position: absolute;
	border-radius: 6px;
	overflow: hidden;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.section-aboutus .introduction-content {
	padding: 30px 0 30px 30px;
}

.section-aboutus .introduction-content .introduction-content_title {
	font-size: 2.3em;
	color: var(--primary-color);
	font-weight: 700;
	margin-bottom: 20px;
	position: relative;
}

.section-aboutus .introduction-content .introduction-content_title > span {
	color: var(--secondary-color);
}

.section-aboutus .introduction-content .introduction-content_title > a {
	color: var(--secondary-color);
}

.section-aboutus .introduction-content .introduction-content_title > a:hover {
	color: var(--secondary-hover);
}

.section-aboutus .introduction-content .introduction-content_title.introduction-content_title__decor {
	padding-bottom: 10px;
}

.section-aboutus .introduction-content .introduction-content_title.introduction-content_title__decor:before {
	content: "";
	display: block;
	width: 100px;
	background-color: var(--primary-color);
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.section-aboutus .introduction-content .introduction-content_desc {
	font-size: 1.15em;
	line-height: 1.8;
	color: var(--bs-gray-900);
	font-weight: 500;
}

.section-aboutus .introduction-content .introduction-content_desc ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.section-aboutus .introduction-content .introduction-content_desc ul li + li {
	margin-top: 5px;
}

.section-aboutus .introduction-content .introduction-content_desc ul li i {
	color: var(--primary-color);
	margin-right: 4px;
	font-size: .9em;
}

.section-aboutus:nth-child(odd) .row {
	flex-direction: row-reverse !important;
}

.section-aboutus:nth-child(odd) .introduction-content {
	padding: 30px 30px 30px 0;
}

.section-prize.section-gap:before {
	display: none;
}

.prize-card {
	border-radius: 8px;
	border: 1px solid #d9d9d9;
	padding: 16px;
	height: 100%;
	transition: var(--transition-default);
	overflow: hidden;
	text-align: center;
}

.prize-card .prize-content {
	padding-top: 16px;
}

.prize-card .prize-content .prize-content_title {
	font-size: 1.45em;
	color: var(--primary-color);
	font-weight: 700;
}

.prize-card .prize-content .prize-content_desc {
	font-size: 1.15em;
	margin-top: 4px;
}

.prize-card:hover {
	box-shadow: 4px 4px 20px rgb(0 0 0 / 15%);
}
